_headbar_height = 60px;
_sidebar_width = 250px;
_color_default = #2c5689;
_color_default_alpha = rgba(44, 86, 137,0.5);//rgba(128, 64, 255, 0.5);

noselect() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
